@import '~antd/dist/antd.css';

body {
  background-color: #f0f0f0
}

.my-header {
  background: rgb(30,17,254);
  background: linear-gradient(90deg, rgba(30,17,254,1) 0%, rgba(72,63,236,1) 100%);
}

.card {
  cursor: pointer;
}

.full-screen-card {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


